.item{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.card{
    padding: 5px;
}

.productImg {
    transition: transform .2s;
    cursor: pointer;
    object-fit: contain;
}

.productImg:hover {
    transform: scale(1.1);
}

.link{
    color: #fff ;
    padding: 2%;
    text-decoration: none;
    background: forestgreen;
    border-radius: 10px;
    font-weight: bold;
}

.link:hover{
    background: linear-gradient(to top, #09203f 0%, #537895 100%); 
    color: #fff; 
}


