.myH1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
}

.loading{
    margin-left: 30px;
    color: #fff;
    font-size: 5em;
}

.error{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}