.item{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card{
    padding: 5px;
}

.link{
    padding: 1%;
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
    font-weight: bold;
}

.link:hover{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);  
    color: #fff; 
}


