footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    padding: 10px;
}

.infoFooter{
    color: #fff;
    align-items: center;
}

.pFooter{
    font-size: 1em;
    font-weight: bold; 
}